@charset "UTF-8";

html {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

main {
    display: block;
}

b,
strong {
    font-weight: bold;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

img[width="0"][height="0"] {
    display: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 0;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2rem;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    margin-left: 20rem;
}

li:not(:last-child) {
    margin-bottom: 10rem;
}

@media (max-width: 480px) {
    li:not(:last-child) {
        margin-bottom: 5rem;
    }
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

*:focus {
    outline: none;
}

.no-scrolling {
	overflow: hidden;
}

.link {
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}

.invert-link {
	text-decoration: none;
}

.invert-link:hover {
	text-decoration: underline;
}

/* installation vars */
:root {
    --background-color: #202945;
    --main-color: #1A4288;
    --second-color: #B7CBEA;
    --text-color: #E8EEF7;
    --accent-color: #CC9F53;
    --soldout-color: #893E2D;
    
    --btn-text-color: #2F3955;
    --background-transparent007: rgba(183, 203, 234, 0.07);
    --background-transparent01: rgba(183, 203, 234, 0.1);
    --text-color-transparent: rgba(232, 238, 247, 0.65);

    --main-font: 'Roboto';
    --title-font: 'TT Livret Trial Roman Variable';
}
/* end installation vars */

/*styles config 
for example:
adaptive full-hd 1rem = calc(100vw / 1920)
adaptive 768px 1rem = calc(100vw / 768)
static 1rem = 1px
*/
html,
body {
    font-size: 1px;
    height: 100%;
}
/*end styles config*/

/*SCROLL ---------------------- */
.simplebar-track.simplebar-vertical {
    width: 6rem;
    right: -20rem;
}

.simplebar-track.simplebar-vertical::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 6rem;
    height: 100%;
    background: var(--background-color);
    border-radius: 20rem;
    z-index: 0;
}

.simplebar-scrollbar {
    transition: all .1s linear;
    z-index: 1;
}

.simplebar-scrollbar::before {
    top: 0 !important;
    left: -10rem;
    right: -10rem;
    bottom: 0 !important;
    width: 6rem;
    margin: auto;
    background: var(--accent-color);
    border: 0;
    border-radius: 20rem;
    opacity: 0;
    transition: all .2s linear;
}

.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}

@media (max-width: 480px) {
    .simplebar-track.simplebar-vertical {
        right: -12rem;
    }
}
/**/

/* browser scroll width */
::-webkit-scrollbar {
    width: 10rem;
    height: 4rem;
}

/* browser scroll track */
::-webkit-scrollbar-track {
    background: var(--text-color);
}

/* browser scroll handle */
::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 3rem;
}

.horizontal-scroll {
    padding-bottom: 10rem;
    overflow-x: auto;
}

body .mobile-visible {
    display: none;
}

@media (max-width: 480px) {
    body .mobile-visible {
        display: block;
    }

    body .desktop-visible {
        display: none;
    }
}

/*main styles*/
body {
    margin: 0;
    color: var(--text-color);
    font: normal 16rem/normal var(--main-font), sans-serif;
    background: var(--background-color);
}

/* typography */
.title {
    font-family: var(--title-font);
}

h1,
.h1 {
    font-family: var(--title-font);
    font-weight: normal;
    font-size: 48rem;
    line-height: normal;
}

h2,
.h2 {
    font-family: var(--title-font);
    font-weight: normal;
    font-size: 40rem;
    line-height: normal;
}

h3,
.h3 {
    font-family: var(--title-font);
    font-weight: normal;
    font-size: 32rem;
    line-height: normal;
}

h4,
.h4 {
    font-family: var(--title-font);
    font-weight: normal;
    font-size: 24rem;
    line-height: normal;
}

h5,
.h5 {
    font-family: var(--title-font);
    font-weight: normal;
    font-size: 20rem;
    line-height: normal;
}

.page-subtitle {
    font-size: 24rem;
    line-height: 1.5;
}

.page-title + .page-subtitle {
    margin-top: 10rem;
}

.page-text {
    margin-top: 10rem;
    font-size: 20rem;
    line-height: 1.5;
}

.page-text + .page-text {
    margin-top: 10rem;
}

.page-text-small {
    font-size: 16rem;
}
/* end typography */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16rem 0;
    margin-bottom: 16rem;
    flex: 1 0 auto;
    /* overflow: hidden; */
}

.container {
    position: relative;
    max-width: 1536rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 16rem;
}

.header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80rem;
    margin: auto;
    background: var(--background-color);
    border-bottom: 1rem solid var(--background-transparent01);
    z-index: 10;
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16rem;
    max-width: 1536rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 16rem;
    z-index: 11;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
}

.buttons-center {
    justify-content: center;
}

.buttons-mt {
    margin-top: 40rem;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: auto;
    padding: 22rem 32rem;
    background: var(--accent-color);
    border-radius: 50rem;
    font-weight: 400;
    font-size: 16rem;
    line-height: 1;
    text-align: center;
    color: var(--btn-text-color);
    transition: all .3s ease;
}

.btn-small {
    position: absolute;
    right: 4rem;
    width: 44rem;
    height: 44rem;
    padding: 10rem;
    background: url(../img/icons/arrow.svg) center/17rem no-repeat var(--accent-color);
    border-radius: 6rem;
    font-size: 0;
}

.btn-white {
    background-color: var(--text-color);
}

.btn-soldout {
    background-color: var(--soldout-color);
    color: var(--text-color);
}

.btn-modal {
    width: 100%;
    padding: 14rem 20rem;
    border-radius: 8rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-transparent {
    background-color: var(--background-transparent007);
    color: var(--text-color);
}

.btn-transparent:hover {
    background-color: rgba(183, 203, 234, 0.1);
    opacity: 1;
}

.btn-round {
    width: 60rem;
    height: 60rem;
    padding: 10rem;
    background: url(../img/icons/send-white.svg) center/15rem no-repeat var(--background-transparent007);
    font-size: 0;
}

.btn-round:hover {
    background: url(../img/icons/send.svg) center/15rem no-repeat var(--text-color);
    opacity: 1;
}

.btn-load-more {
    background: var(--background-transparent007);
    color: var(--text-color);
}

.btn-load-more:hover {
    background: var(--background-color);
    opacity: 1;
}

.btn img {
    width: 12rem;
}

.btn.disabled,
.btn[disabled] {
    background: rgba(183, 203, 234, 0.1);
    color: rgba(232, 238, 247, 0.65);
}